body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Our App
      ul.nav.navbar-nav
        li
          a(href='/list') list
  .container
    main(role="page-container")
